.post {
  @extend %section-bottom-border;
  h1 {
    padding-bottom: $base-line-height * 1.7;
    font-size: type-scale(2) * 1.2;
    font-weight: weight(bold);;
    @media screen and (min-width: $break) {
      font-size: type-scale(4);
    }
  }
  h2 {
    padding-bottom: $base-line-height * 1.5;
    font-size: type-scale(2);
    @media screen and (min-width: $break) {
      font-size: type-scale(3);
    }
  }
  h3 {
    font-size: type-scale(1) * 1.2;
    padding-top: $base-line-height / 2;
    padding-bottom: $base-line-height;
    @media screen and (min-width: $break) {
      @include vertical-rhythm(2);
    }
  }
  h4 {
    font-size: type-scale(1);
    line-height: $base-line-height * 2.5;
    @media screen and (min-width: $break) {
      font-size: type-scale(1) * 1.1;
    }
  }
  p {
    padding-bottom: $base-line-height;
  }
  ul {
    padding-bottom: $base-line-height;
    li {
      list-style: disc outside;
      margin-left: $base-line-height * 2;
    }
  }
  ol {
    padding-bottom: $base-line-height;
    li {
      list-style: decimal outside;
      margin-left: $base-line-height * 2;
    }
  }
  blockquote {
    padding: 2px 4px 2px 10px;
    margin-bottom: type-scale(1);
    font-style: italic;
    font-weight: weight(light);
    border-left: 4px solid color(base, dark);
    p:last-child {
      padding-bottom: 0;
    }
  }
  code {
    padding: 2px 4px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 70%;
    line-height: $base-line-height * 1.2;
    color: color(secondary);
    background-color: mix(white, color(secondary), 90%);
    border-radius: 4px;
  }
  pre {
    padding: $base-line-height;
    margin-bottom: $base-line-height * 1.5;
    background-color: color(primary);
    white-space: pre;
    word-wrap: normal;
    word-break: normal;
    overflow: auto;
    code {
      font-size: 100%;
      color: color(base);
      background-color: inherit;
      white-space: pre;
      word-spacing: normal;
      word-wrap: normal;
    }
  }
  .collage {
    display: flex;
    align-items: center;
    justify-content: space-around;
    img {
      max-width: 45%;
    }
  }
  figure {
    margin-bottom: $base-line-height;
  }
  select {
    margin-bottom: $base-line-height;
  }
  svg {
    .bar {
      fill: color(tertiary);
    }
    text {
      fill: color(primary);
      text-anchor: middle;
    }
  }
  .axis {
    text {
      font-size: type-scale(0);
    }
    path {
      @extend %axis-styles;
    }
    line {
      @extend %axis-styles;
    }
    &.y {
      text {
        font-size: type-scale(-1);
      }
    }
  }
}
