.social-links {
  svg {
    fill: mix(white, color(accent, light), 35%);
    transition: .2s ease-out;
  }
  &:target {
    svg {
      fill: color(tertiary);
    }
  }
  @media screen and (min-width: $break) {
    background-color: initial;
    a:hover {
      svg {
        @extend %svg-hover-fill;
      }
    }
  }
}

.contact-items {
  background-color: rgba(0,0,0,.8);
  li {
  }
  svg {
    fill: color(base);
    transition: all .2s ease-out;
    &:hover {
      @extend %svg-hover-fill;
    }
  }
  button {
    @extend %button;
    &:hover {
      background-color: color(secondary);
      transition: .2s ease-in;
    }
  }
}
